@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
:root {

}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.App {
    font-family: 'Oswald', sans-serif;

    margin: 0;
}

.main {
    margin: 1em auto;

    max-width: 540px;
}

.container {
    
}

.search {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.search__label, .search__input, .search__button {
    margin-right: 1em;
}
.search__input {
    padding: .5em 1em;
}
.search__button {
    padding: .5em 1.5em;
    border-radius: 5px;
    border: none;
    background-color: #ccc;
    box-shadow: 1px 1px 5px;
}
.search__button:hover {
    background-color: #aaa;
}
.search__notice {
    display: block;
    color: red;
}

.header {
    margin-bottom: 1em;
}
.header__p {
    font-style: italic;
    opacity: .8;
}

.phonetic {
    display: flex;
    align-items: center;
}
.phonetic__button {
    width: 24px; height: 24px;
    background: url('./images/volume_up_black_24dp.svg') no-repeat;
    border: none;
    cursor: pointer;
}

.meaning__span {
    font-size: .9rem;
    font-weight: 400;
}

.definitions {
    margin-bottom: .7em;
    margin-left: .6em;

    padding-bottom: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.311);
}

.synonyms, .antonyms {
    margin-left: .4em;
}
.synonyms__h4 {
    color: #2ECC71;
}
.antonyms__h4 {
    color: #C0392B;
}
.synonym, .antonym {
    list-style-type: none;
}
.synonym__li, .antonym__li {
    display: inline;
    cursor: pointer;
}
.synonym__li {
    color: #037ffc;
}
.antonym__li {
    color: #ff6105;
}
.synonym__span:hover, .antonym__span:hover {
    text-decoration: underline;
}

.definition {
    list-style-type: none;
}
.li__span {
    font-size: 1.2rem;
}
.li__span--example {
    opacity: .95;
}

/* @media (max-width: 480px) {
    .main {
        width: calc(100% - 50px);
        margin-left: .4em;
    }
} */